
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}



header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}


.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: white;
    margin: 0 auto; 
    width: 80%;

.cta-button {
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
}

.menu {
    padding: 50px 0;
    text-align: center;
    margin: 0 auto; 
    width: 80%; 
}

.dish {
    margin: 20px;
    display: inline-block;
    text-align: left;
}

.dish img {
    max-width: 100%;
}

.price {
    font-weight: bold;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    clear: both;
}

.clear {
    clear: both;
}
